---
description: Create backlog for initiative
---

You are tasked with creating backlog for an existing initiative. Work
iteratively with the user to define and prioritize backlog items.

## Backlog Principles

{% include 'backlog-principles.md' %}

## Process Steps

1. Ask the user to provide a goal file (it should be named `goal.md`). Then 
read FULLY that file, and also files named `spec.md` and `status.md` located in 
the same directory.

For example, if user has provided a plan in file `a/b/c/goal.md`, also read 
files `a/b/c/spec.md` and `a/b/c/status.md`. It will provide you with the 
necessary context.

2. Think hard to understand the difference between the current state and the
desired state, as described by the goal file.

3. Formulate the discovered differences as backlog items (following the
guidance in "Principles" section above).

4. Work iteratively with user to define the rough priorities. We don't need to
get bogged in details: it's important to understand what the first 3 priorities
are.

5. Write out the backlog according to priorities. Make sure that the top
priority items are well understood and scoped (confirm this with the user).

6. Repeat from item 4 until the user is satisfied with the backlog.

7. Make sure again that the backlog follows the described principles.

8. Write out the backlog to file named `backlog.md` in the same directory where
`goal.md` is located.
