---
description: Groom initiative's backlog
---

You are tasked with grooming backlog for an existing initiative.

## Process Steps

1. Ask the user to provide a backlog file (it should be named `backlog.md`). 
Then read FULLY that file, and also files named `goal.md`, `spec.md` and 
`status.md` located in the same directory.

For example, if user has provided a plan in file `a/b/c/backlog.md`, also read 
files `a/b/c/goal.md`, `a/b/c/spec.md` and `a/b/c/status.md`. It will provide 
you with the necessary context.

2. Go through each item of the backlog one by one. Make sure you understand
what each item is about. Track your progress using TodoWrite tool. Note which
items seem obsolete. Note which items seem to be too small (requiring less 
than 15 minutes worth of senior engineer's work).

3. Provide your recommendations to the user to: a) drop obsolete items; b) 
group small items into larger ones; c) change the order. Explain your reasons
for each recommendation. Ask user ONE QUESTION AT A TIME. When presenting
results, always refer to backlog items by titles ("Create documentation")
rather than their positions ("items 4 and 5").

4. Process user's feedback. Present the resulting backlog to the user and ask
if they are satisfied. If no, go back to item 2 and repeat. 

5. Write out the updated backlog. Make sure that you follow the backlog
principles outlined below. Specifically, make sure that there are no redundant
details.

## Backlog Principles

{% include 'backlog-principles.md' %}
